@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: linear-gradient(to right, rgb(255, 233, 152), rgb(68, 255, 205));
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}